#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1100  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

&lt { quick-tap-ms = <50>; };

/ {
    behaviors {
        hold_tap_layer_key: hold_tap_layer_key {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LAYER_KEY";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
        };

        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <50>;
            flavor = "balanced";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q  &kp W                     &kp F                 &kp P                 &kp B        &kp J      &kp L                 &kp U                     &kp Y                          &kp SEMI
  &kp A  &lt 4 R                   &lt 3 S               &lt 1 T               &kp G        &kp M      &kp N                 &lt 3 E                   &lt 4 I                        &kp O
  &kp Z  &hold_tap LEFT_CONTROL X  &hold_tap LEFT_ALT C  &hold_tap LEFT_GUI D  &kp V        &kp K      &hold_tap LEFT_GUI H  &hold_tap LEFT_ALT COMMA  &hold_tap LEFT_CONTROL PERIOD  &kp FSLH
                                                         &kp LCTRL             &kp SPACE    &kp LSHFT  &lt 2 BACKSPACE
            >;

            display-name = "ColemakDH";
        };

        nav {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans         &trans      &trans        &trans     &trans
  &trans  &trans  &trans  &trans  &trans    &kp LEFT       &kp DOWN    &kp UP_ARROW  &kp RIGHT  &trans
  &trans  &trans  &trans  &trans  &trans    &trans         &trans      &trans        &trans     &trans
                          &trans  &trans    &kp BACKSPACE  &kp DELETE
            >;

            label = "Navigation";
        };

        fun {
            bindings = <
  &none  &none  &none  &none  &none    &none  &kp F7  &kp F8  &kp F9  &kp F12
  &none  &none  &none  &none  &none    &none  &kp F4  &kp F5  &kp F6  &kp F11
  &none  &none  &none  &none  &none    &none  &kp F1  &kp F2  &kp F3  &kp F10
                       &none  &none    &none  &none
            >;

            label = "Function";
        };

        num {
            bindings = <
  &none   &kp N7  &kp N8  &kp N9  &none        &none     &kp N7      &kp N8  &kp N9  &none
  &kp N0  &kp N4  &kp N5  &kp N6  &none        &none     &kp N4      &kp N5  &kp N6  &kp N0
  &none   &kp N1  &kp N2  &kp N3  &none        &none     &kp N1      &kp N2  &kp N3  &none
                          &none   &kp SPACE    &kp BSPC  &kp DELETE
            >;

            label = "Numeric";
        };

        sym {
            bindings = <
  &kp GRAVE  &kp AT_SIGN  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PERCENT    &kp DOLLAR     &kp QUESTION   &kp FSLH          &kp BSLH  &none
  &kp CARET  &kp HASH     &kp PLUS          &kp EQUAL          &kp STAR       &kp EXCL       &kp COLON      &kp TILDE         &kp PIPE  &none
  &kp MINUS  &kp AMPS     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp UNDER      &kp UNDER      &kp LESS_THAN  &kp GREATER_THAN  &none     &none
                                            &none              &kp SPACE      &kp BACKSPACE  &kp DELETE
            >;

            label = "Symbol";
        };
    };
};
