#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1100  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0

&lt { quick-tap-ms = <50>; };

/ {
    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <50>;
            flavor = "tap-preferred";
        };

        smart_shft: smart_shft {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_SHFT";
            bindings = <&sk LEFT_SHIFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        w_shiftTab: w_shiftTab {
            compatible = "zmk,behavior-mod-morph";
            label = "W_SHIFTTAB";
            bindings = <&kp W>, <&kp LS(TAB)>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        p_shiftTab: p_shiftTab {
            compatible = "zmk,behavior-mod-morph";
            label = "P_SHIFTTAB";
            bindings = <&kp P>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        caps_word_space: caps_word_space {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS_WORD_SPACE";
            #binding-cells = <0>;
            continue-list = <SPACE>;
        };

        r_shiftTab: r_shiftTab {
            compatible = "zmk,behavior-mod-morph";
            label = "R_SHIFTTAB";
            bindings = <&kp R>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        quertycolemak: quertycolemak {
            compatible = "zmk,behavior-toggle-layer";
            label = "QUERTYCOLEMAK";
            #binding-cells = <1>;
            toggle-mode = "flip";
        };
    };

    macros {
        zeroes: zeroes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_0 &kp NUMBER_0 &kp NUMBER_0>;
            label = "ZEROES";
        };

        select_all_copy: select_all_copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LC(C)>;
            label = "SELECT_ALL_COPY";
        };

        select_all_paste: select_all_paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp LC(V)>;
            label = "SELECT_ALL_PASTE";
        };

        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
            label = "SELECT_LINE";
        };

        start_comment: start_comment {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SLASH &kp ASTERISK &kp RET &kp ASTERISK &kp SLASH>;
            label = "START_COMMENT";
        };
    };

    combos {
        compatible = "zmk,combos";

        return {
            bindings = <&kp RET>;
            key-positions = <27 28 26>;
        };

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <21 22 23>;
        };

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <1 3>;
        };

        right_bracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <6 8>;
        };

        snipping_tool {
            bindings = <&kp LG(LS(S))>;
            key-positions = <0 4>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <8 7 6>;
        };

        left_parentesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <21 23>;
        };

        right_parentesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <26 28>;
        };

        ctrl_alt_del {
            bindings = <&kp LA(LC(DELETE))>;
            key-positions = <20 29>;
        };

        caps_word_space {
            bindings = <&caps_word_space>;
            key-positions = <14 15>;
        };

        qwerty {
            bindings = <&quertycolemak 6>;
            key-positions = <31 32>;
            layers = <6 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
  &kp Q  &w_shiftTab               &kp F                 &p_shiftTab           &kp B          &kp J            &kp L                 &kp U                     &kp Y                          &kp SEMI
  &kp A  &lt 4 R                   &lt 3 S               &lt 1 T               &kp G          &kp M            &kp N                 &lt 3 E                   &lt 4 I                        &kp O
  &kp Z  &hold_tap LEFT_CONTROL X  &hold_tap LEFT_ALT C  &hold_tap LEFT_GUI D  &kp V          &kp K            &hold_tap LEFT_GUI H  &hold_tap LEFT_ALT COMMA  &hold_tap LEFT_CONTROL PERIOD  &kp FSLH
                                                         &kp LEFT_ALT          &lt 5 SPACE    &lt 2 BACKSPACE  &smart_shft
            >;

            display-name = "ColemakDH";
        };

        nav {
            bindings = <
  &none  &none  &none  &none  &none    &kp LS(LEFT)   &kp LC(LEFT)       &kp LS(UP_ARROW)  &kp LC(RIGHT)   &kp LS(RIGHT)
  &none  &none  &none  &none  &none    &kp LEFT       &kp DOWN           &kp UP_ARROW      &kp RIGHT       &select_line
  &none  &none  &none  &none  &none    &none          &kp LC(BACKSPACE)  &kp LS(DOWN)      &kp LC(DELETE)  &none
                       &none  &none    &kp BACKSPACE  &kp DELETE
            >;

            label = "Navigation";
        };

        fun {
            bindings = <
  &none  &none  &none  &none  &none    &none  &kp F7  &kp F8  &kp F9  &kp F12
  &none  &none  &none  &none  &none    &none  &kp F4  &kp F5  &kp F6  &kp F11
  &none  &none  &none  &none  &none    &none  &kp F1  &kp F2  &kp F3  &kp F10
                       &none  &none    &none  &none
            >;

            label = "Function";
        };

        num {
            bindings = <
  &none   &kp N7  &kp N8  &kp N9  &none        &none     &kp N7      &kp N8  &kp N9  &none
  &kp N0  &kp N4  &kp N5  &kp N6  &zeroes      &zeroes   &kp N4      &kp N5  &kp N6  &kp N0
  &none   &kp N1  &kp N2  &kp N3  &none        &none     &kp N1      &kp N2  &kp N3  &none
                          &none   &kp SPACE    &kp BSPC  &kp DELETE
            >;

            label = "Numeric";
        };

        sym {
            bindings = <
  &kp GRAVE  &kp AT_SIGN  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PERCENT    &kp DOLLAR     &kp QUESTION   &kp FSLH          &kp BSLH  &start_comment
  &kp CARET  &kp HASH     &kp PLUS          &kp EQUAL          &kp STAR       &kp EXCL       &kp COLON      &kp TILDE         &kp PIPE  &none
  &kp MINUS  &kp AMPS     &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp UNDER      &kp UNDER      &kp LESS_THAN  &kp GREATER_THAN  &none     &none
                                            &none              &kp SPACE      &kp BACKSPACE  &kp DELETE
            >;

            label = "Symbol";
        };

        sys {
            bindings = <
  &mkp RCLK         &msc SCRL_UP  &kp TAB    &msc SCRL_DOWN  &mkp LCLK            &none           &none           &none         &none            &none
  &kp HOME          &kp LC(X)     &kp LC(C)  &kp LC(V)       &kp END              &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &kp END
  &select_all_copy  &kp LC(A)     &kp LC(Z)  &kp LC(Y)       &select_all_paste    &none           &none           &none         &none            &none
                                             &none           &none                &none           &none
            >;

            label = "System";
        };

        qwerty {
            display-name = "Qwerty";
            bindings = <
  &kp Q  &w_shiftTab               &kp E                 &r_shiftTab           &kp T          &kp Y            &kp U                 &kp I                     &kp O                          &kp P
  &kp A  &lt 4 S                   &lt 3 D               &lt 1 F               &kp G          &kp H            &kp J                 &lt 3 K                   &lt 4 L                        &kp SEMI
  &kp Z  &hold_tap LEFT_CONTROL X  &hold_tap LEFT_ALT C  &hold_tap LEFT_GUI V  &kp B          &kp N            &hold_tap LEFT_GUI M  &hold_tap LEFT_ALT COMMA  &hold_tap LEFT_CONTROL PERIOD  &kp FSLH
                                                         &kp LEFT_ALT          &lt 5 SPACE    &lt 2 BACKSPACE  &smart_shft
            >;
        };
    };
};
